
screenshots/yagisans-better-arquebuses.png
screenshots/yagisans-better-blunderbusses.png
screenshots/yagisans-better-pistols.png
screenshots/yagisans-magic-rods.png
screenshots/yagisans-magic-sceptres.png
screenshots/yagisans-magic-wands.png
